/*main*/
#main {
    padding-top: 80px;
}
/*channel*/
.channel {
    padding-top: 40px;
}
.channel {
    display: flex;
    align-items: center;
}
.channel a {
    color: #777777;
    font-size: 16px;
    font-weight: 600;
}
.channel a.home_icon img{
    float: left;
}
/*contact*/
.contact_wrap {
    padding-top: 24px;
}
.contact_wrap > h3 {
    font-size: 40px;
    font-weight: 600;
    color: #222;
    letter-spacing: -0.36px;
}
.contact_wrap .element {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 250px;
    padding-top: 40px;
}
.element .map {
    width: 57.5%;
    height: 434px;
    float: left;
}
.element .information {
    width: 40.4%;
    height: 434px;
    padding: 0 60px;
    box-sizing: border-box;
    float: right;
    margin-right: 4px;
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    box-shadow: 0px -1px 10px #b4b4b424;
}
.information .info_wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
.information ul {
    margin-bottom: 50px;
}
.information ul:last-child {
    margin-bottom: 0;
}
.information li.info_title {
    font-size: 18px;
    font-weight: 600;
    color: #aaa;
}
.information li.info_detail {
    width: 100%;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 300;
    color: #222;
    letter-spacing: -0.36px;
}
.information li button.copy {
    padding: 0 4px;
    margin-left: 8px;
    vertical-align: -4px;
}
.information li button.copy img {
    float: left;
}

/*resize*/
@media (max-width: 1200px) {
    /*contact*/
    .element .map {
        width: 100%;
        height: 364px;
        float: none;
    }
    .element .information {
        width: 100%;
        height: 364px;
        float: none;
        margin-top: 24px;
    }
}
@media (max-width: 767px) {
    .channel {
        padding-top: 16px;
    }
}
@media (max-width: 530px) {
    .contact_wrap > h3 {
        font-size: 34px;
    }
    .element .information {
        padding: 0 30px;
    }
}
@media (max-width: 460px) {
    .element .information {
        padding: 0 10px;
    }
    .information li.info_title {
        font-size: 1rem;
    }
    .information li.info_detail {
        font-size: 1.125rem;
    }
}
@media (max-width: 374px) {
    .information li.info_title {
        font-size: 0.97rem;
    }
    .information li.info_detail {
        font-size: 1rem;
    }
}