/* footer */
.footer {
    border-top: 1px solid #ddd;
    background: #f8f8f8;
}
.footer .content {
    padding: 38px 0 105px;
}
.footer .footer-logo {
    width: 100%;
    max-width: 137px;
}
.footer .footer-logo img {
    width: 100%;
}
.footer .footer-info01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.footer .footer-info01 .partner-site {
    display: flex;
    align-items: center;
    color: #777;
    font-family: "Pretendard-SemiBold";
    font-size: 14px;
    font-weight: 600;
    line-height: 160%; /* 22.4px */
    letter-spacing: -0.28px;
    flex-wrap: wrap;
}
.footer .footer-info01 .partner-site .text {
    padding-right: 10px;
}
.footer .footer-info01 .partner-site .site:not(:last-child) {
    padding-right: 8px;
    margin-right: 8px;
    position: relative;
}
.footer .footer-info01 .partner-site .site:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 12px;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer .footer-info01 .support-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer .footer-info01 .support-links .link {
    color: #777;
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: -0.28px;
}
.footer .footer-info01 .support-links .link:last-child {
    font-family: "Pretendard-SemiBold";
}
.footer .footer-info01 .support-links .link:not(:last-child) {
    padding-right: 8px;
    margin-right: 8px;
    position: relative;
}
.footer .footer-info01 .support-links .link:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 12px;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer .line {
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 16px 0;
}
.footer .footer-info02 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer .footer-info02 .company-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 478px;
}
.footer .footer-info02 .company-info .info {
    color: #777;
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: -0.28px;
}
.footer .footer-info02 .company-info .info span {
    padding-right: 10px;
}
.footer .footer-info02 .company-info .info01 {
    padding-right: 8px;
    margin-right: 8px;
    position: relative;
}
.footer .footer-info02 .company-info .info01::after {
    content: "";
    width: 1px;
    height: 12px;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer .footer-info02 .copyright {
    color: #777;
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: -0.28px;
}

/* footer 모달 팝업 */

.modal-content p { line-height: 1.5;}
.mt_15 { margin-top: 15px; }
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
    overflow: auto;
    padding-top: 60px;
}
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 930px;
}
.close {
    color: #222;
    float: right;
    font-size: 45px;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.modal ul {
    list-style-type: none;
    padding: 0;
}
.modal ul.f_gnb {
    display: flex !important;
    justify-content: space-around !important
}
.modal ul li {
    margin: 10px 0;
}
.modal ul li a:hover {
    color: #007bff;
}
