/* header */
/* 프리텐다드 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
* {
    font-family: 'Pretendard Variable' !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding-inline-start: 0;
}
button {
    border: 0;
    background: transparent;
    cursor: pointer;
}
.inner {
    width: 100%;
    max-width: 1248px;
    padding: 0 24px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #fff;
}
.header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
/*pc*/
.header .content .logo {
    width: 100%;
    max-width: 137px;
    height: auto;
}
.header .content .logo img {
    width: 100%;
    height: 100%;
    display: block;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.header .content .nav .gnb {
    display: flex;
    gap: 40px;
    height: 80px;
    align-items: center;
}
.header .content .nav .gnb-item a {
    color: #222;
    font-family: "Pretendard-SemiBold";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.3px;
    transition: all 300ms;
}
.header .content .nav .gnb-item:hover a {
    color: #E5FF00;
    font-family: "Pretendard-ExtraBold";
}
.header .content .nav .gnb-training {
    position: relative;
}
.header .content .nav .gnb-training .gnb-sub {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 49px;
    transition: max-height 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .content .nav .gnb-training .gnb-sub .gnb-sub-item a {
    display: block;
    padding: 10px;
    background: rgba(34, 34, 34, 0.5);
    width: 80px;
    text-align: center;
    transition: all 300ms;
    color: rgba(255, 255, 255, 0.7) !important;
    font-family: "Pretendard-Regular";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.3px;
}
.header .content .nav .gnb-training .gnb-sub .gnb-sub-item:hover a {
    background: #fff;
    color: #222 !important;
    font-family: "Pretendard-SemiBold";
}
.header .content .nav .gnb-training:hover .gnb-sub {
    max-height: 500px;
}
.header .content .login-link {
    display: flex;
    align-items: center;
}
.header .content .login-link a {
    color: #222;
    font-family: "Pretendard-SemiBold";
    font-size: 16px;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;
}
.header .content .login-link .line {
    width: 1px;
    height: 10px;
    background: #999;
    margin: 0 14px;
}
/* 로그인, 로그아윳 상태 시 나타나는 스타일 */
.header .content .login-before { /* 로그아웃 상태 시 나타남 */
    /* display: none; */
}
.header .content .login-complete { /* 로그인 상태 시 나타남 */
    display: none;
}
.mobile_display .login-link-m {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
}
.mobile_display .login-link-m li {
    position: relative;
}
.mobile_display .login-link-m li:first-child::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background: #999;
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
}
.mobile_display .login-link-m a {
    font-size: 16px;
    font-weight: 600;
    color: #222;
}
.pc_display {
    display: block;
}
.mobile_display {
    display: none;
}

@media (max-width: 928px) {
    .header .content .nav .gnb {
        gap: 24px;
    }
}
@media (max-width: 767px) {
    .pc_display {
        display: none;
    }
    .mobile_display {
        display: block;
    }
    .header {
        background: #fff;
        position: fixed;
    }
    
    /*mobile*/
    .header .content .logo {
        position: absolute;
        z-index: 999;
    }
    .mobile_display {
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 888;
    }
    .header .offcanvas-open {
        width: 27px;
        height: 20px;
        float: right;
        margin: 24px;
        position: relative;
        z-index: 1005;
    }
    .header .offcanvas-open span {
        display: block;
        width: 27px;
        height: 2.5px;
        background: #222;
        border-radius: 50px;
        position: absolute;
        left: 0;
        transition: all 0.5s;
    }
    .header .offcanvas-open span:nth-child(1) {
        top: 0;
    }
    .header .offcanvas-open span:nth-child(2) {
        top: 50%;
    }
    .header .offcanvas-open span:nth-child(3) {
        top: 100%;
    }
    .header .offcanvas-open.active span {
        background: #222;
    }
    .header .offcanvas-open.active span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .header .offcanvas-open.active span:nth-child(2) {
        display: none;
    }
    .header .offcanvas-open.active span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    .header .offcanvas {
        width: 100%;
        height: 100%;
        padding: 30px 16px;
        background: rgba(100, 100, 100, 0.445);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        transform: translateX(100%);
        /* transform: translateX(0%); */
        background: #fff;
        transition: transform 0.5s ease-in-out;
    }
    .header .offcanvas .offcanvas-body {
        width: 100%;
        height: 100%;
        flex-grow: 1;
    }
    .gnb-mobile .gnb-item a {
        width: 100%;
        box-sizing: border-box;
        display: block;
        padding: 0 8px;
        height: 61px;
        line-height: 61px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.32px;
        border-bottom: 1px solid #ddd;
        background: #fff;
    }
    .gnb-mobile .gnb-sub {
        display: none;
    }
    .gnb-mobile .gnb-training .gnb-sub .gnb-sub-item a{
        font-size: 16px;
        font-weight: 400;
        color: #555555;
        border-bottom: 1px solid #eaeaea;
        background: #FAFAFA;
    }
    .gnb-training .drop-arrow {
        float: right;
        margin-top: 14px;
        width: 28px;
        height: 28px;
        padding: 2px;
        box-sizing: border-box;
        position: relative;
    }
    .gnb-training .drop-arrow span {
        display: block;
        width: 10px;
        height: 3px;
        background: #777;
        position: absolute;
    }
    .gnb-training .drop-arrow span:nth-child(1) {
        top: 12px;
        left: 6px;
        transform: rotate(45deg);
    }
    .gnb-training .drop-arrow span:nth-child(2) {
        top: 12px;
        right: 6px;
        transform: rotate(-45deg);
    }
}