@charset "UTF-8";

@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RIDIBatang";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#home .mainIndex .blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
#home .mainIndex .inner {
  width: 100%;
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;
}
#home .mainIndex .main_visual .text-box {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
#home .mainIndex .main_visual .text-box .text-box-inner {
  width: 100%;
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;
}
#home .mainIndex .main_visual .text-box .text-box-inner .text span {
  color: #fff;
  font-family: "Elice DX Neolli";
  font-size: 24px;
  font-weight: 300;
  line-height: 180%; /* 43.2px */
  letter-spacing: -0.48px;
  display: block;
}
#home .mainIndex .main_visual .text-box .text-box-inner .text span img {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
}
#home .mainIndex .main_visual .text-box .text-box-inner .text p {
  color: #fff;
  font-family: "Elice DX Neolli";
  font-size: 51px;
  font-weight: 700;
  line-height: 180%; /* 91.8px */
  letter-spacing: -1.02px;
}
#home .mainIndex .main_visual .text-box .text-box-inner .slide-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 26px;
  background: #fff;
  margin-top: 25px;
}
#home .mainIndex .main_visual .text-box .text-box-inner .slide-link .button-text {
  color: #0657CE;
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 180%; /* 32.4px */
  letter-spacing: -0.36px;
}
#home .mainIndex .main_visual .text-box .text-box-inner .slide-link img {
  display: block;
}
#home .mainIndex .title-area {
  text-align: center;
}
#home .mainIndex .title-area .title {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#home .mainIndex .title-area .title img {
  display: inline-block;
}
#home .mainIndex .title-area .title span {
  color: #222;
  font-family: "Pretendard-Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: -0.8px;
}
#home .mainIndex .title-area .title-text {
  color: #777;
  font-family: "Pretendard-Medium";
  font-size: 22px;
  font-weight: 500;
  line-height: 140%; /* 30.8px */
  letter-spacing: -0.44px;
  margin-top: 10px;
}
#home .mainIndex .more-button-box {
  text-align: center;
  margin-top: 40px;
}
#home .mainIndex .more-button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  border-radius: 999px;
  background: #fff;
  border: 1px solid #DDE6EE;
  padding: 9px 16px 9px 24px;
}
#home .mainIndex .more-button .button-text {
  color: #777;
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
}
#home .mainIndex .more-button img {
  display: block;
}
#home .mainIndex .mouse_icon {
  display: none;
}
#home .mainIndex .section01 {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 170px 0 193px;
  background: #fff url(../img/home/s1-background.png) no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
}
#home .mainIndex .section01 .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
  margin: 46px 0 40px;
}
#home .mainIndex .section01 .tab {
  width: 100%;
  max-width: 136px;
  padding: 6px;
  background: url(../img/home/tab-bg.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: #96A7BD;
  font-family: "Pretendard-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
  cursor: pointer;
}
#home .mainIndex .section01 .tab.active {
  background: url(../img/home/tab-bg-active.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
#home .mainIndex .section01 .tab-cont {
  display: none;
}
#home .mainIndex .section01 .tab-cont.active {
  display: block;
}
/* notice 클래스 스타일은 >> 메인 페이지와 공지사항 페이지 공통 적용 */
#home .mainIndex .section01 .notice-area {
  padding: 40px 102px;
  background: #fff;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 32.5px rgba(0, 0, 0, 0.09);
}
#home .mainIndex .section01 .notice-list-item{
  position: relative;
}
#home .mainIndex .section01 .notice-list-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
#home .notice-list-link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 24px 0;
}
#home .notice-list-link > img {
  width: 100%;
  max-width: 79px;
  display: block;
}
#home .notice-category {
  color: #222;
  font-family: "Pretendard-Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
}
#home .notice-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  gap: 8px;
}
#home .notice-title .text {
  white-space: nowrap;
  color: #222;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#home .notice-title .notice-badge {
  width: 22px;
  height: 22px;
}
#home .notice-date { 
  color: #777;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
}
#home .mainIndex .section02 {
  background: #fff;
}
#home .mainIndex .section02 .content {
  padding: 146px 0 170px;
}
#home .mainIndex .section02 .cont-box {
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 21px;
  width: 100%;
  max-width: 949px;
}
#home .mainIndex .section02 .text-area .text {
  margin-top: 20px;
  color: #222;
  font-family: "RIDIBatang";
  font-size: 16px;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
  letter-spacing: -0.32px;
}
#home .mainIndex .section02 .main-text {
  width: 100%;
  max-width: 390px;
  text-align: center;
  color: #222;
  font-family: "Caveat Brush", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 140%;
  background: url(../img/home/s2-main-text-bg.png) no-repeat;
  background-size: 100% 100%;
  padding: 9px 60px;
}
#home .mainIndex .section02 .img-area {
  width: 100%;
  max-width: 310px;
  text-align: center;
}
#home .mainIndex .section02 .img-area .director-img {
  width: 100%;
  box-shadow: -7px 8px 23px rgba(0, 0, 0, 0.2);
}
#home .mainIndex .section02 .img-area .info-text {
  color: #222;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
  margin-top: 24px;
}
#home .mainIndex .section02 .img-area .info-text span {
  font-family: "Pretendard-SemiBold";
}
#home .mainIndex .section02 .img-area .name {
  width: 100%;
  max-width: 110px;
  margin: 0 auto;
}
#home .mainIndex .section02 .img-area .name img {
  width: 100%;
}
/* section03 클래스 스타일은 >> 메인 페이지와 예배 페이지 공통 적용 */
#home .section03 {
  padding: 220px 0;
  background: #fff url(../img/home/section-box-bg.png) no-repeat;
  background-size: cover;
  background-position: right center;
}
#home .section03 .calendar-top {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 40px 0 20px;
}
#home .section03 .calendar-top .last-month-arrow, 
#home .section03 .calendar-top .next-month-arrow {
  width: 40px;
  height: 40px;
  display: block;
}
#home .section03 .calendar-top .calendar-date {
  color: #222;
  font-family: "Pretendard-ExtraBold";
  font-size: 24px;
  font-weight: 800;
  line-height: 160%; /* 38.4px */
  letter-spacing: -0.48px;
}
#home .section03 .calendar-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;

}
#home .section03 .calendar-board {
  width: 65%;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid #ddd;
}
#home .section03 .calendar-board colgroup col {
  width: 14%;
}
#home .section03 .calendar-board thead {
  height: 49px;
}
#home .section03 .calendar-board thead th {
  background: #1C3C6B;
  color: #eee;
  font-family: "Pretendard-Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
}
#home .section03 .calendar-board thead .sunday {
  background: #2A6ACA;
}
#home .section03 .calendar-board tbody td {
  min-width: 48px;
  height: 100px;
  background: #fff;
  text-align: center;
  vertical-align: top;
  padding: 10px;
  color: #222;
  font-family: "Pretendard-Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
  cursor: pointer;
}
#home  .schedule-text { /*현재 일정에 추가*/
  color: #222;
  font-size: 16px;
  font-weight: 300 !important;
  font-family: "Pretendard-Regular";
}
#home .focusDay { /*일정 클릭시 추가되는 포커스 스타일*/
  background: #1C3C6B !important;
  color: #fff !important;
}
#home .focusDay .schedule-text { /*포커스 시 모든 텍스트 색상 변경*/
  color: #fff !important;
}
#home .section03 .calendar-board tbody td ul li {
  color: #222;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
  word-break: break-all;
}
#home .section03 .calendar-board tbody td:first-child {
  background: #E9F2FF;
}
#home .section03 .calendar-board tbody td.sunday {
  color: #777;
}
#home .section03 .calendar-board tbody td.today {
  color: #007AFF;
  font-family: "Pretendard-ExtraBold";
  font-size: 18px;
  font-weight: 800;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
}
#home .section03 .calendar-board tbody td.today ul li {
  font-family: "Pretendard-SemiBold";
}
#home .section03 .calendar-board tbody td.prev-month, 
#home .section03 .calendar-board tbody td.next-month {
  color: #bbb;
  font-family: "Pretendard-Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
}
#home .section03 .calendar-board tbody td.prev-month ul li, 
#home .section03 .calendar-board tbody td.next-month ul li {
  color: #bbb;
}
#home .section03 .schedule {
  width: 35%;
}
#home .section03 .schedule ul {
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #1C3C6B;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
}
#home .section03 .schedule ul li.time {
  padding: 13px 16px;
  background: #1C3C6B;
  color: #fff;
}
#home .section03 .schedule ul li.time img {
  vertical-align: -7px;
  margin-right: 10px;
}
#home .section03 .schedule ul li.detail {
  height: 77px;
  line-height: 77px;
  padding: 0 16px;
  background: #fff;
  color: #222;
  font-weight: 600;
}
#home .mainIndex .section04 .content {
  padding-top: 170px;
}
#home .mainIndex .section04 .content .title-area .title {
  justify-content: flex-start;
}
#home .mainIndex .section04 .cont-area {
  margin-top: 40px;
  display: flex;
  gap: 24px;
}
#home .mainIndex .section04 .reserv-area {
  flex: 1;
}
#home .mainIndex .section04 .reserv-tabs {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  align-items: center;
}
#home .mainIndex .section04 .reserv-tab {
  background: url(../img/home/reserv-tab-bg.png) no-repeat;
  background-size: 100% 100%;
  color: #96A7BD;
  font-family: "Pretendard-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
  padding: 6px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
#home .mainIndex .section04 .reserv-tab.active {
  background: url(../img/home/reserv-tab-bg-active.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
#home .mainIndex .section04 .reserv-info {
  margin-top: 18px;
}
#home .mainIndex .section04 .reserv-info-list {
  display: none;
  flex-direction: column;
  gap: 24px;
}
#home .mainIndex .section04 .reserv-info-list .card {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
}
#home .mainIndex .section04 .reserv-info-list .card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#home .mainIndex .section04 .reserv-info-list .card-body .reserv-category {
  color: #222;
  font-family: "Pretendard-SemiBold";
  font-size: 18px;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
}
#home .mainIndex .section04 .reserv-info-list .card-body .name {
  color: #222;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
}
#home .mainIndex .section04 .reserv-info-list .card-body .rental-time {
  display: flex;
  gap: 10px;
  align-items: center;
}
#home .mainIndex .section04 .reserv-info-list .card-body .rental-time div:not(.line) {
  color: #222;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
}
#home .mainIndex .section04 .reserv-info-list .card-body .rental-time div:not(.line) span {
  color: #0A387C;
  font-family: "Pretendard-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
  padding-right: 6px;
}
#home .mainIndex .section04 .reserv-info-list .card-body .rental-time .line {
  width: 1px;
  height: 10px;
  background: #BFCAD4;
}
#home .mainIndex .section04 .reserv-info-list .card-footer {
  padding: 20px;
  border-top: 1px solid #ddd;
}
#home .mainIndex .section04 .reserv-info-list .card-footer .date-info {
  color: #777;
  font-family: "Pretendard-SemiBold";
  font-size: 18px;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.36px;
}
#home .mainIndex .section04 .reserv-info-list.active {
  display: flex;
}
#home .mainIndex .section05 {
  overflow: hidden;
  position: relative;
}
#home .mainIndex .section05 .content {
  overflow: hidden;
  padding: 170px 0;
}
#home .mainIndex .section05 .feature-list {
  min-width: 1126px;
  display: flex;
  gap: 75px;
  justify-content: center;
  align-items: center;
}
#home .mainIndex .section05 .feature-list a {
  display: block;
}
#home .mainIndex .section05 .feature-list a img {
  display: block;
  width: 100%;
  max-width: 180px;
  transition: 0.2s linear;
}
@keyframes roll {
  0% {
      transform: translateX(0); /* 시작 위치 */
  }
  100% {
      transform: translateX(-50%); /* 끝 위치 */
  }
}


/*resize*/
@media (max-width: 1014px) {
  /*main_visual*/
  #home .mainIndex .main_visual .swiper-slide>img {
    object-position: 75% 50%;
  }
}
@media (max-width: 940px) {
  /*section02*/
  #home .mainIndex .section02 .cont-box {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }
  #home .mainIndex .section02 .img-area {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  #home .mainIndex .section02 .main-text {
    margin: 0 auto;
  }
  #home .mainIndex .section02 .text-area .text br.show {
    display: none;
  }
  /*section-box*/
  #home .mainIndex .section03 {
    padding: 80px 0;
    background: none;
  }
  #home .mainIndex .section03 .calendar-top {
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #home .section03 .calendar-bottom {
    display: block;
  }
  #home .section03 .calendar-board {
    width: 100%;
  }
  #home .section03 .calendar-board tbody td {
    min-width: 40px;
    height: 11.9vw;
    min-height: 49px;
  }
  #home .section03 .schedule {
    width: 100%;
    margin-top: 33px;
  }
}
@media (max-width: 767px) {
  /*main_visual*/
  #home .mainIndex .main_visual .swiper-button-next, 
  #home .mainIndex .main_visual .swiper-button-prev {
    display: none;
  }
  /*scroll*/
  #home .mainIndex .mouse_icon {
    display: block;
    width: 38px;
    height: 90px;
    margin: 0 auto;
    margin-top: 29px;
    text-align: center;
    position: relative;
  }
  #home .mainIndex .mouse_icon span {
    display: block;
  }
  #home .mainIndex .mouse_icon .scroll_arrow span {
    position: absolute;
    left: 36%;
    animation: fadeIn 1s infinite;
  }
  #home .mainIndex .mouse_icon .scroll_arrow span:nth-child(1) {
    bottom: 20px;
    animation-delay: 0.1s;
  }
  #home .mainIndex .mouse_icon .scroll_arrow span:nth-child(2) {
    bottom: 10px;
    animation-delay: 0.3s;
  }
  #home .mainIndex .mouse_icon .scroll_arrow span:nth-child(3) {
    bottom: 0;
    animation-delay: 0.5s;
  }
  @keyframes fadeIn {
    0% {
        opacity: 0; 
        transform: translateY(-10px); 
    }
    50% {
        opacity: 1; 
        transform: translateY(0); 
    }
    90% {
      opacity: 1; 
      transform: translateY(0); 
    }
    100% {
        opacity: 0; 
        transform: translateY(0); 
    }
  }
  /*section01*/
  #home .mainIndex .section01 {
    padding: 73px 0 0;
  }
  #home .mainIndex .section01 .content {
    padding: 80px 0;
  }
  #home .mainIndex .section01 .notice-area {
    padding: 40px 40px;
  }
  #home .notice-list-item:not(:first-child) {
    margin-top: 24px;
  }
  #home .notice-list-link {
    display: block;
  }
  #home .notice-title {
    width: 100%;
  }
  #home .notice-category {
    margin: 4px 0;
  }
  #home .notice-date {
    position: absolute;
    top: 0;
    left: 0;
  }
  #home .notice-list-link > img {
    position: absolute;
    top: 0;
    right: 0;
  }
  /*section02*/
  #home .mainIndex .section02 .content {
    padding: 73px 0 0;
  }
  /*section-box*/
  #home .schedule-text {
    width: 1.5vw;
    margin: 0 auto;
    margin-top: 0.5vw;
    min-width: 7px;
    height: 1.5vw;
    min-height: 7px;
    font-size: 0;
    background: #89D275;
    border-radius: 50%;
  }
  /*section05*/
  #home .mainIndex .section05 {
    position: relative;
  }
  #home .mainIndex .section05 .inner{
    overflow: hidden;
  }
  #home .mainIndex .section05 .content {
    width: calc(1126px * 2);
    overflow: hidden;
    padding: 42px 0;
    animation: roll 15s linear infinite;
  }
  #home .mainIndex .section05 .feature-list {
    width: calc(100% / 2) !important;
    float: left;
  }
}
@media (max-width: 524px) { /*모바일 폰트 사이즈로 줄기*/
  /*main_visual*/
  #home .mainIndex .main_visual .d-none {
    display: block;
  }
  #home .mainIndex .main_visual .text-box {
    top: 35%;
  }
  #home .mainIndex .main_visual .text-box .text-box-inner .text span {
    font-size: 18px;
  }
  #home .mainIndex .main_visual .text-box .text-box-inner .text p {
    font-size: 36px;
  }
  /*section title 아래 글*/
  #home .mainIndex .title-area .title-text {
    font-size: 16px;
  }
}
