/*main*/
#main.myInfo {
    padding-top: 80px;
}
.myInfo fieldset {
    border: none;  /* 테두리 제거 */
    padding: 0;    /* 패딩 제거 */
    margin: 0;     /* 마진 제거 */
}
/*html : my info >> 내 정보*/
.myInfo .myInfo_wrap {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 6vw;
    margin-bottom: 238px;
    text-align: center;
}
.myInfo .myInfo_wrap > h3 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.36px;
}
.myInfo .myInfo_wrap .profile {
    margin-top: 66px;
    position: relative;
}
.myInfo .profile .my_img {
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #90909065;
}
.myInfo .my_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    float: left;
}
.myInfo .profile .name {
    display: block;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.36px;
}
.myInfo .myInfo_wrap .btn_wrap {
    margin-top: 62px;
}
.myInfo .btn_wrap button {
    display: block;
    width: 100%;
    padding: 23px 0;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
    color: #222;
    background: #F2F2F2;
    border: 1px solid #E9EBED;
    border-radius: 7px;
    letter-spacing: -0.36px;
    transition: all 0.1s linear;
    box-shadow: 1px 1px 6px #00000010;
}
.myInfo .btn_wrap button:hover {
    background: #004BBA;
    color: #fff;
    border-color: #004BBA;
}

/*html : my info - edit >> 내 정보 수정*/
.myInfo .profile .editBtn {
    width: 95px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.myInfo .editBtn button {
    width: 100%;
    padding: 8px 0;
    background: #fff;
    border-radius: 80px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    box-shadow: 0px 2px 5px #00000025;
}
.myInfo .editBtn button img {
    vertical-align: -4px;
    margin-right: 2px;
}
.myInfo .editBtn input[type="file"] {
    display: none;
}
.myInfo .myInfo_wrap .input_wrap {
    margin-top: 52px;
}
.myInfo .input_wrap .input_container {
    margin-bottom: 16px;
    text-align: left;
}
.myInfo .input_wrap label.input_title {
    width: 100%;
    text-align: left;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #777;
    letter-spacing: -0.36px;
}
.myInfo .input_wrap .input_container input {
    width: 100%;
    padding: 15px 16px;
    box-sizing: border-box;
    border: 1px solid #E9EBED;
    background: #fff;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    letter-spacing: -0.36px;
    border-radius: 7px;
}
.myInfo .input_wrap .input_container input:focus {
    outline: none;
}
.myInfo .input_wrap .input_container input::placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #ccc;
}
.myInfo button.finishBtn {
    border-color: #004BBA;
    background: #004BBA;
    color: #fff;
}

/*hrml: my info - history  >> 내 신청 내역*/
.myInfo .myHistory_wrap {
    max-width: 588px !important;
    padding-bottom: 442px;
}
/*탭 부분*/
.myInfo .tabBtn_wrap {
    width: 100%;
    overflow: hidden;
    margin-top: 66px;
}
.myInfo .tabBtn_wrap > button {
    width: 50%;
    padding: 12px 0;
    float: left;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    color: #222;
}
.myInfo .historyFocus {
    border-bottom: 2px solid #000;
}
.myInfo .historyNone {
    border: none;
}
/*프로그램 신청 내역*/
.myInfo .element_wrap {
    width: 100%;
    height: 144px;
    position: relative;
}
.myInfo .history_element {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.myInfo .history_element > div {
    float: left;
    white-space: nowrap;
    overflow: hidden;
}
.myInfo .program_element > div {
    width: calc(100% / 3);
}
.myInfo .plant_element > .reservation{
    width: 46%;
}
.myInfo .plant_element > .step,.status{
    width: 27%;
}
.myInfo h4.historyName {
    height: 48px;
    line-height: 48px;
    color: #224F5B;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.36px;
    background: #ddd;
}
.myInfo .history_element li {
    height: 48px;
    line-height: 48px;
    padding: 0 4px;
    box-sizing: border-box;
    background: #FAFAFA;
    font-size: 16px;
    color: #222;
    letter-spacing: -0.36px;
}
.myInfo .status li {
    color: #007AFF;
}
.myInfo .status li.history-red {
    color: #E72929;
}

/*hrml: login >> 내 정보 로그인*/
.myInfo .input_wrap .password_container {
    position: relative;
}
.myInfo .password_container .eyeBtn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}
.myInfo .keep_login {
    width: fit-content;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.36px;
    color: #999;
}
.myInfo .keep_login input[type="checkbox"] {
    display: none;
}
.myInfo .keep_login input[type="checkbox"]:checked + label span.checkBox rect {
    fill: #0A387C; 
}
.myInfo label[for="keepLogin"] {
    cursor: pointer;
}
.myInfo .keep_login span.checkBox {
    display: inline-block;
    vertical-align: -5px;
    margin-right: 9px;
    cursor: pointer;
}
.myInfo button.loginBtn {
    padding: 18px 0;
}
.myInfo ul.user_account {
    margin-top: 30px;
}
.myInfo ul.user_account li {
    display: inline-block;
}
.myInfo ul.user_account li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #EEEEEE;
    margin: 0 10px;
}
.myInfo ul.user_account li:last-child::after {
    content: "";
    display: none;
}
.myInfo ul.user_account a{
    font-size: 16px;
    color: #777;
    font-weight: 500;
    letter-spacing: -0.36px;
}

/*resize*/
@media (max-width: 834px) {
    .myInfo .myInfo_wrap {
        margin-top: 70px;
    }
    .myInfo .myHistory_wrap {
        padding-bottom: 356px;
    }
}
@media (max-width: 522px) {
    /*html : myInfo - history*/
    .myInfo .program_element > .program {
        width: 52%;
    }
    .myInfo .program_element > .generation {
        width: 24%;
    }
    .myInfo .program_element > .status {
        width: 24%;
    }
    .myInfo .plant_element > .reservation {
        width: 56%;
        box-sizing: border-box;
    }
    .myInfo .plant_element > .step {
        width: 20%;
    }
    .myInfo .plant_element > .status {
        width: 24%;
    }
}
@media (max-width: 390px) {
    .myInfo .myInfo_wrap {
        margin-bottom: 120px;
    }
    .myInfo .history_element li {
        font-size: 14px;
    }
}