#home .section01 {
    padding-top: 40px;
    background: none;
}
#home .section01 .inner {
    max-width: 1275px;
    padding: 0;
}
/*검색 랩핑*/
.section01 .search_wrap {
    width: 100%;
    height: 75px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: #F7F8FA;
}
/*검색 카테고리*/
form.search_categoty label {
    padding: 10px 0;
    float: left;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #5E5E5E;
}
.custom-dropdown {
    width: 96px;
    box-sizing: border-box;
    float: left;
    position: relative;
    border: 1px solid #E8E8E8;
    background: white;
    cursor: pointer;
}
.custom-dropdown .selected {
    width: 100%;
    padding: 10px;
}
.custom-dropdown .selected img.custom-arrow {
    float: right;
    transform: translateY(6px);
}
.custom-dropdown .options {
    width: 96px;
    display: none; 
    position: absolute;
    top: 40px;
    left: -1px;
    z-index: 1000; 
    border: 1px solid #E8E8E8;
    border-top: none;
    border-color: #E8E8E8;
    color: #777;
    cursor: pointer;
}
.custom-dropdown .option {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #fff;
}
.custom-dropdown .option:not(:first-child) {
    border-top: 1px solid #E8E8E8;
}
.custom-dropdown .option:hover {
    background: #09377B;
    color: #fff;
}
/*검색창*/
form.search input[type="text"]{
    max-width: 434px;
    height: 40px;
    box-sizing: border-box;
    float: left;
    background: #fff;
    font-size: 16px;
    color: #222;
    padding: 0 8px;
    border: 1px solid #E8E8E8;
}
form.search input[type="text"]::placeholder {
    color: #999;
    font-weight: 400;
}
form.search input[type="text"]:focus {
    outline: none;
} 
form.search button.searchBtn {
    width: 55px;
    height: 40px;
    text-align: center;
    background: #09377B;
}
form.search button.searchBtn > img {
    vertical-align: -4px;
}

/*탭*/
#home .section01 .tabs {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 16px;
    margin: 26px 0;
}
#home .section01 .tab {
    max-width: 62px;
    padding: 8px 6px 6px;
    line-height: normal;
    border-radius: 4px;
    background: #EFEFEF;
    color: #777;
    font-size: 16px;
    font-family: 'Pretendard Variable';
    font-weight: 400 !important;
}
#home .section01 .tab.active {
    background: #2A6ACA;
    color: #fff;
}

/*공지*/
/*목록 타이틀*/
.content ul.table-title {
    width: 100%;
    padding: 12px 10px;
    border-top: 2px solid;
    border-bottom: 1px solid;
    border-color: #777;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}
.table-title li {
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
    color: #222;
    font-weight: 700;
}

li.list-numb {
    flex: 0 0 77px; 
}
li.list-division {
    flex: 0 0 72px;
}
li.list-title {
    flex: 1; /* 남은 공간을 모두 차지 */
}
li.list-appliDate {
    flex: 0 0 146px; 
}
li.list-appliGo {
    flex: 0 0 92px; 
}

li.list-date {
    flex: 0 0 162px;
}
/*공지 목록 랩핑*/
#home .section01 .notice-area {
    padding: 0px 10px;
    width: 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    position: relative;
}
ul.notice-list {
    width: 100%;
    /* display: none; */
}
.notice-list.training-list, .notice-list.common-list {
    display: none;
}
#home .section01 .notice-list-link {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0;
    padding: 24px 0;
}
#home .section01 .notice-list-link div {
    text-align: center;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
}
div.notice-numb {
    flex: 0 0 77px; 
}
div.notice-division {
    flex: 0 0 72px; 
}
div.notice-title {
    flex: 1;
    padding-left: 26px;
}
div.notice-appliDate {
    flex: 0 0 146px;
    color: #777;
}
div.notice-appliGo {
    flex: 0 0 92px;
}
div.notice-date {
    flex: 0 0 162px;
    color: #222 !important;
}

/* -------신청 바로가기 각각 버튼 스타일 */ 
button.apply {
    display: block;
    padding: 6px 8px 4px;
    margin: 0 auto;
    color: #777;
    font-size: 16px;
    border-radius: 5px;
}
button.apply.apply-focus {
    background: #FF9B01;
    color: #fff;
}
button.apply.apply-finish {
    background: #EBEBEB;
    color: #777;
    cursor: default;
}
/* ------ 뉴 뱃지 비활성화 숨김처리 */
.notice-badge.badge-none {
    display: none;
}

/* ------ 페이지 카운트 스타일 */
.pagenation_wrap {
    width: 100%;
    height: 40px;
    margin-top: 16vw;
    overflow: hidden;
    position: relative;
}
.pagenation_wrap span {
    padding: 0 8px;
    cursor: pointer;
    text-align: center;
}
.pagenation_wrap .double_arrow {
    max-width: 488px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.pagenation_wrap .double_arrow span {
    width: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.double_arrow span.first_pre {
    left: 0;
}
.double_arrow span.last_next {
    right: 0;
}
.pagenation_wrap .solid_arrow {
    max-width: 376px;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.pagenation_wrap .solid_arrow span {
    width: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.solid_arrow span.pre {
    left: 0;
}
.solid_arrow span.next {
    right: 0;
}
.pagenation_wrap .page_count {
    width: 100%;
    max-width: 264px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page_count span.pageNumb {
    display: block;
    padding: 6px 12px;
    margin: 0 6px;
    color: #222;
    font-weight: 400;
    font-size: 14px;
}
span.focusNumb {
    color: #0095D9 !important;
    font-weight: 800 !important;
}


/*resize*/
@media (max-width: 824px) {
    li.list-numb {
        display: none;
    }
    /* li.list-appliGo {
        display: none;
    } */
    div.notice-numb {
        display: none;
    }
    /* div.notice-appliGo {
        display: none;
    } */
}
@media (max-width: 767px) {
    #home .section01 .content {
        padding: 0;
        padding-bottom: 10vw;
    }
    .section01 .search_wrap {
        display: none;
    }
    #home .section01 .tabs {
        justify-content: center;
        margin-top: 60px;
    }
    .content ul.table-title {
        display: none;
    }
    div.notice-appliDate {
        display: none;
    }
    div.notice-division {
        width: fit-content;
        padding: 6px 12px 4px;
        background: #7d7d7d;
        color: #fff;
        border-radius: 4px;
    }
    div.notice-title {
        width: fit-content !important;
        float: left;
        padding-left: 0;
    }
    div.notice-appliGo {
        width: fit-content;
        float: right;
        margin-top: 10px;
    }
    #home .section01 .notice-list-item:not(:first-child) {
        margin-top: 0;
    }
    #home .section01 .notice-list-link {
        padding: 16px 0;
    }
    #home .section01 .notice-title .text {
        margin: 6px 0;
        margin-top: 12px;
    }
    #home .section01 .notice-date {
        width: fit-content;
        position: relative;
        font-size: 14px !important;
        color: #777 !important;
    }
    div.notice-title img {
        margin-top: 4px;
    }
}
@media (max-width: 456px) {
    #home .section01 .tab {
        font-size: 14px;
    }
    div.notice-division {
        font-size: 14px !important;
    }
    #home .section01 .notice-title .text {
        font-size: 15px;
    }
    button.apply {
        font-size: 14px;
    }
    .pagenation_wrap .double_arrow {
        max-width: 85vw;
    }
    .pagenation_wrap .solid_arrow {
        max-width: 70vw;
    }
    .pagenation_wrap .page_count {
        max-width: 50vw;
    }
    .page_count span.pageNumb {
        margin: 0 2px;
    }
}

