
* {
    letter-spacing: -0.36px;
}
/*공지 내용 랩핑*/
#home .notice-detail {
    padding-top: 40px;
    background: none;
}
#home .notice-detail .inner {
    max-width: 1275px;
    padding: 0;
}

/*공지 타이틀*/
#home .notice-detail .title-area {
    width: 100%;
    height: 210px;
    min-height: 210px;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.382), rgba(0, 0, 0, 0.382)),url(../img/about.jpg) no-repeat center center;
    background-size: cover;
}
#home .title-area .title span.notice-main-title {
font-family: "Pretendard-Bold";
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */
letter-spacing: -0.8px;
}
#home .title-area .title span.cap-text {
    display: block;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
}
#home .title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*공지 세부내용*/
.notice-content {
    margin-top: 26px;
}

/*공지 제목 영역*/
.notice-content .notice-title {
    width: 100%;
    overflow: hidden;
    padding: 10px 16px;
    border-top: 2px solid;
    border-bottom: 1px solid;
    border-color: #BEBEBE;
    background: #F7F7F7;
}
.notice-title .text {
    width: fit-content;
    float: left;
    font-size: 22px;
    font-weight: 700;
    margin-top: 6px;
}
.notice-title .appliDate-wrap { /*신청일 박스 >> 훈련공지에만 나타남*/
    float: right;
    display: flex;
    align-items: center;
    text-align: center;
}
.appliDate-wrap li {
    padding: 10px 16px;
    padding-right: 0;
    font-weight: 400;
}
.appliDate-wrap li.list-appliDate {
    width: fit-content;
    position: relative;
    color: #111;
    font-size: 18px;
}
.appliDate-wrap li.list-appliDate::before {
    content: '';
    display: block;
    width: 1px;
    height: 14px;
    background: #D1D1D1;
    position: absolute;
    right: -6px;
    top: 13px
}
.appliDate-wrap li.notice-appliDate {
    flex: 1;
    color: #777;
    font-size: 16px;
}

/*첨부파일 영역*/
.attachment-area {
    width: 100%;
    overflow: hidden;
}
.attachment-area .attachment-header {
    width: 100%;
    padding: 12px 16px;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
    position: relative;
}
.attachment-area .attachment-header > .file-title {
    width: fit-content;
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
}
.attachment-header .file-drop img{
    margin-top: 4px;
}
.attachment-header .forder img{
    float: left;
}
.attachment-header .forder span{
    display: inline-block;
    margin-top: 3px;
    margin-left: 6px;
    color: #767676;
    font-size: 18px;
}
.attachment-header .file-count {
    font-size: 18px;
    color: #222;
    margin-top: 2px;
}
.attachment-header .file-count .count-text{
    display: inline-block;
    margin-left: -3px;
}
.attachment-list {
    width: 100%;
    max-width: 563px;
    padding: 16px;
    border: 1px solid #F0F0F0;
    border-top: none;
    background: #fff;
    position: absolute;
    top: 51px;
    left: 0;
    z-index: 500;
    display: none;
}
.attachment-item a{
    display: block;
    width: 100%;
    padding: 8px 0;
    color: #111;
    font-size: 16px;
}
.attachment-item a .paper-title {
    display: inline-block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 380px !important;
}
.attachment-item a .paper-title img{
    vertical-align: -4px;
    margin-right: 6px;
}
.attachment-item a .download{
    float: right;
    font-size: 14px;
    color: #4F4F4F;
}
.attachment-item a .download img {
    margin-left: 6px;
}

/*공지 정보 영역 */
.attachment-area .notice-information {
    width: 100%;
    overflow: hidden;
}
.information-posit {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    float: right;
}
.information-posit ul {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 15px;
}
.information-posit ul li:first-child {
    color: #5b5b5b;
    margin-right: 22px;
    position: relative;
}
.information-posit ul li:first-child::after {
    display: block;
    content: '';
    width: 1px;
    height: 10px;
    background: #D1D1D1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -14px;
}
.information-posit ul li:last-child {
    color: #777777;
}

/*공지 텍스트 영역-*/
.attachment-area .notice-text-wrap {
    padding-top: 32px;
}
.notice-text-wrap p {
    line-height: 160%;
}

/*신청하기 버튼 >> 훈련 공지에만 나타남, 일반 공지에는 X*/
.attachment-area .apply {
    width: 100%;
    margin-top: 174px;
    text-align: center;
}
.apply button {
    width: 100%;
    max-width: 270px;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 600;
}

/*각 버튼 별 클래스 스타일 !!!!!*/
button.apply-orange { /*신청하기 버튼 일때,*/
    color: #fff;
    background: #FF9B01;
}
button.apply-gray { /*마감 버튼 일때,*/
    color: #777;
    background: #EBEBEB;
}
button.apply-stroke { /*오픈 버튼 일때,*/
    color: #fff;
    background: transparent;
    border: 2px solid #777;
}

/* 세부내용 변경 페이지네이션 */
.notice-detail-change {
    overflow: hidden;
    margin-top: 180px;
    margin-bottom: 72px;
    position: relative;
}
.notice-detail-change a {
    display: inline-block;
    width: 100%;
    max-width: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #333;
}
a.detail-pre {
    float: left;
    flex-direction: row-reverse;
}
a.detail-next {
    float: right;
    align-items: center;
}
a.notice-page {
    width: fit-content;
    padding: 6px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* resize */
@media (max-width: 768px) {
    .notice-title .appliDate-wrap {
        clear: both;
        width: fit-content;
        float: none;
    }
    .appliDate-wrap li:first-child {
        padding-left: 0;
    }
    .appliDate-wrap li.list-appliDate::before {
        top: 48%;
        right: -8px;
        transform: translateY(-50%);
    }
    .attachment-area {
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
    }
    .attachment-area .notice-information {
        order: 3; 
        margin-top: 120px;
        margin-bottom: 50px;
    }
    .attachment-area .notice-text-wrap {
        order: 2;
    }
    .attachment-area .apply {
        order: 4;
        margin-top: 0;
    }
    .information-posit ul {
        font-size: 14px;
    }
    .information-posit {
        display: block;
        float: left;
        padding: 8px 0;
    }
}
@media (max-width: 548px) {
    .attachment-item a .paper-title {
        max-width: 160px !important;
    }
}
